[Unit]
Description=Data Uploading Agent for coScene
Documentation=https://github.com/coscene-io/sample-json-api-files
After=network.target

[Service]
Type=simple
User={{ user }}
WorkingDirectory={{ cos_dir }}
StandardOutput=syslog
StandardError=syslog
ExecStart={{ cos_dir }}/venv/bin/cos --daemon --base-dir {{ base_dir }} -c {{ cos_dir }}/config.ini
SyslogIdentifier=cos
Restart=on-failure

[Install]
WantedBy=multi-user.target
