[Unit]
Description=Data Uploading Agent for coScene
Documentation=https://github.com/coscene-io/sample-json-api-files
After=network.target

[Service]
Type=simple
WorkingDirectory={{ cos_dir }}
StandardOutput=syslog
StandardError=syslog
ExecStart=/usr/bin/python -m cos --daemon --base-dir {{ base_dir }}
SyslogIdentifier=cos
Restart=on-failure

[Install]
WantedBy=multi-user.target
